body {
    width: 100%;
}

.wrapper {
    min-width: 1150px;
    width: 950px;
    margin: 0 auto;
}

.c-navi {
    background-color: #000000;
}

.c-navi ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.c-navi li {
    display: inline;
}

.c-navi a {
    color: #DDDDDD;
    margin-left: 15px;
    font-weight: bold;
    text-decoration: none;
}
.c-navi li:nth-of-type(1) a {
    margin-left: 0px;
}

.c-navi a:hover {
    border-bottom: 2px solid grey;
    padding-bottom: 4px;
}

.c-navi img {
    width: 100px;
}

.c-news {
    display: flex;
}

.c-news-left, .c-news-right {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
}

.c-news-left h1 {
    color: #FF6A2B;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 10px;
}

.c-news-left .text1,.c-news-left h1,.c-news-right h2, .c-news-right .text2 {
    margin: 0px;
}

.c-news-right {
    justify-content: flex-end;
}

.c-news-right h2 {
    font-weight: bold;
    font-size: 15px;
    padding-right: 10px;
}

.c-main {
    width: 100%;
    display: flex;
}

.c-mainLeft, .c-mainRight {
    width: 25%;
}

.c-mainLeft .c-content1 {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid gray;
}
.c-mainLeft .c-content1 .c-content1-img {
    margin-right: 10px;
}
.c-mainLeft .c-content1 .c-content1-img img {
    width: 130px;
    height: 100%;
}

.c-content1 .c-content1-img img:hover {
    opacity: 0.8;
}

.c-content1 .c-content1-text {
    height: 100%;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.c-content1 .c-content1-text:hover {
    color:#4267B2;
}
.c-mainCenter {
    width: 50%;
    
}
.c-mainCenter .c-content1 .c-content1-img img{
    width: 438px; 
    height: 380px; 
    margin-left: 10%;  
}
.c-mainCenter .c-content1 .c-content1-text {
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.c-mainCenter .c-content1 .c-content1-img img:hover {
    opacity: 1;
}
.c-mainRight .c-content1 .c-content1-img img {
    width: 338px; 
    height: 280px; 
}
.c-mainRight .c-content1 .c-content1-text {
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}
.yellowB {
    background-color: #ffde76;
    width: 1250px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header h3 {
    font-size: 2em;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
    margin: 6px 0 4px 0;    
}
.header h3:before {
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    top: 11%;
    bottom: 12%;
    transform: skew(-20deg);
    background-color: #dd3333;

}
.header ul {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -4px;
}
.header ul li {
    display: inline-block;
    margin-right: 30px;
}
.header ul li a {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}
.header ul li a:hover {
    color: #dd3333;
}
.section-content1, .section-content2 {
    display: flex;
    width: 100%;
    
}
.section-content1 {
    margin-bottom: 22px;
}
.section-content2 {
    justify-content: space-between;
}
.section-content1 .content1 .content1-img img {
    width: 100%;
    height: 359px;
} 
.section-content1 .content1 .content1-img img:hover {
    opacity: 0.8;
}
.section-content1 .content1 .content1-text {
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: 25px;
    color: white;
    width: 399px;
    height: 74;
    font-weight: bold;
    text-decoration: none;
    
}  

.section-content1 .content1 {
    width: 52%;
    position: relative;
}

.content2  {
    margin-left: 22px;
    width: 25%;
}
.content2 .content2-img img:hover {
    opacity: 0.8;
}
.section-content2 .content2:first-child {
    margin-left: 0px;
}
.content2 .content2-text {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;   
}
.content2 .content2-text:hover {
    color: blue;
}
.content2 .content2-img img {
    width: 100%;
    height: 172px;
}
